###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="--root-ca-file={{ kubernetes_master.cert_and_key.put_dir }}/apiserver.crt --service_account_private_key_file={{ kubernetes_master.cert_and_key.put_dir }}/apiserver.key"
